@model IEnumerable<AddressManager.Models.Company>

@{
    ViewData["Title"] = "Deleted Company List";
    int userId = Context.Session.GetInt32("userId") ?? 0;
}

<h1>Deleted Company List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
                @{
                    if (userId != 0){
                        <th></th>
                    }
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
                @{
                    if (userId != 0){
                        <td>         
                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                        </td>
                    }
                }
        </tr>
}
    </tbody>
</table>
