@model (Worker worker, List<ChangeHistory> change)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.Phone)
        </dd>
        <dt class = "col-sm-2">
            <span>로그</span>
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].LoginId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].WorkerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].ActIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].Act)
                        </th>
                        <th>
                            @Html.DisplayNameFor(wh => wh.change[0].ActDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.change)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoginId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Act)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.worker.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

            